body {
	font-family: 'helvetica neue', sans-serif;
}

h3 {
	margin: 30px 0;
}

.wrapper {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

#total-wrapper, #specific-wrapper {
	position: relative;
	height: 100px;
}

#overview-wrapper {
	position: relative;
	height: 200px;
}
